l/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-Jun-2014, 9:49:01 PM
    Author     : ravindra
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: #1f1f1f;
}

#wrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #d9d9d9;
}

p {
    text-align: left;
}

.button {
    display: inline;
    color: #fff;
    background-color: #f2791d;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #ffb15e;
}
.button a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

#addListing {
    text-align: center;
    width: 960px;
    margin: auto;
    margin-bottom: 10px;
}

#addListingForm {
    text-align: left;
    width: 400px;
    margin: auto;
    padding: 10px;
}

#addDeviceForm span {
    display: block;
}

#content {
    margin: auto;
    width: 960px;
}

.listing {
    width: 180px;
    height: 110px;
    margin: 10px;
    padding: 16px;
    //color: #fff;
    vertical-align: top;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
}

.listing.off {
    background-color: #c8cccf;
}

.listing span {
    display: block;
}

.listingId {
  //  text-align: center;
    font-weight: bold;
    color: lightblue;
    margin-bottom: 12px;
}

.listingName {
   // text-align: center;
   // font-weight: bold;
    color: lightgreen;
    margin-bottom: 12px;
}

.removeListing {
    margin-top: 12px;
    text-align: center;
}

.listing.Club {
    background-color: #5eb85e;
}

.listing.Club a:hover {
    color: #a1ed82;
}

.listing.Gym {   
    background-color: #0f90d1;
}

.listing.Gym a:hover {
    color: #4badd1;
}

.listing.Fitness {
    background-color: #c2a00c;
}

.listing.Fitness a:hover {
    color: #fad232;
}

.listing.Other {
    background-color: #db524d;
}

.listing.Other a:hover {
    color: #ff907d;
}

.listing a {
    text-decoration: none;
}

.listing a:visited, a:active, a:hover {
    color: #fff;
}

.listing a:hover {
    text-decoration: underline;
}
