<?xml version='1.0' encoding='UTF-8' ?>
<!--

    Copyright (c) 2014 Oracle and/or its affiliates. All rights reserved.

    You may not modify, use, reproduce, or distribute this software except in
    compliance with  the terms of the License at:
    http://java.net/projects/javaeetutorial/pages/BerkeleyLicense

-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Active Listings</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
    </h:head>
    <h:body>
        <h1>Welcome to Active Listings!</h1>
        <div><a href="listing.xhtml">Listing Portal</a></div>
        <div><a href="booking.xhtml">Booking Portal</a></div>        
    </h:body>
</html>

